body{
    background: linear-gradient(#beddff,#fad6ff);
}
   

.container{
    width: 40vw;
    height: 80vh;
    margin: 6vh auto;
    background: linear-gradient(#d4e8ff,#ffffff);
    padding: 50px;
    border-radius: 1px;
    border: solid black;
}